@CHARSET "UTF-8";

body {
 overflow: hidden;
 font-family: arial;
 margin: 0;
 padding: 0;
}


#header, .footer {
    background: #406398;
    color: white;
    clear: both;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em;
    min-height: 1em;
}

.footer {
    background: #406398;
    font-size: 0.7em;
}

#breakpoint-table {
    width: 100%;
    font-size: 11px;
    color: #333;
}

td.sample, td.sample_count, td.depth { text-align: center; }
tr.highlight, tr.highlighted, tr.highlight td.sorting_1 {
    background-color: #ffeeee !important;
}

span.rightform {
    float: right;
    font-size: 85%;
}

span.rightform select {
    font-size: 70%;
    margin-right: 1.5em;
}

/* a.genedistfar { color: gray; }*/
a.genedistclose { color: orange; }
a.genedistadjacent { color: #ff3333; }
a.genedistinside { color: #ff0000; font-weight: bold; }


a { color: #444488 }

a:link, a:visited { text-decoration: none; }
a:active, a:hover { text-decoration: underline; }

span.geneListTag { color: green; }
span.largeEvent, span.largeEvent a { color: red; font-weight: bold; }

/* Layout Manaager */

.lm_content {
 padding: 8px;
 background-color: #fff;
}

/*
.lm_header {
 background-color: #6481c3;
}
*/

.lm_header .lm_tab {
 background-color: #f0f0f0;
}
.lm_tab.lm_active {
 background-color: #fff;
}

.lm_header {
 padding-top:3px;
 padding-top:3px;
}

.lm_content {
 overflow: scroll;
}

div.content_panel_wrapper {
 padding: 1em 2em 1em 1em;
}

div.spacer {
 height: 100px;
}

.lm_header .lm_tab .lm_title {
    padding-top: 1px;
}

#form-container {
 text-align: right;
 font-size: 12px;
 margin: 0px 0px 12px 5px;
}
    
span.configure {
 font-size: 18px;
 font-weight: bold;
 padding: 0 1em;
}

.left {
 float: left;
 width: 16em;
 display: block;
 text-align: right;
}

.rightFill {
  margin-left: 18em;
  display: block;
  padding-left: 1em;
}
.rightFill input {
    width: 100%;
    position: relative;
    top: -2px;
}

.smallLeft {
 float: left;
 width: 6em;
 display: block;
 text-align: right;
}

.smallRightFill {
  margin-left: 8em;
  display: block;
  padding-left: 1em;
}


input.wide {
    width: 20em;
}

path.partnerLink {
    stroke:#f77;
    stroke-width:1;
    fill:none;
}

path.partnerLink:hover {
    stroke-width:3;
}

text.geneLabel {
 font-size: 11px;
 font-weight: normal;
 stroke: none;
 fill: #444;
}

path.partnerArrows {
 fill: #f77;
}

line.breakpointFrame, rect.breakpointFrame {
    stroke: #000;
    stroke-width: 1px;
    fill: none;
}

path.frameTick {
    stroke: #000;
    stroke-width: 1px;
    fill: none;
}

text.tickLabel {
    font-size: 9px;
}

text.tickChromosomeLabel {
    font-size: 15px;
}

.dialogButtons {
    padding: 0.5em 0;
    text-align: right;
}

.dialogButtons button {
    margin: 0.5em 0;
}

.tags {
    background-color: #33aa33;
    border-radius: 5px;
    color: white;
    display: inline;
    padding: 3px 5px;
    font-size: 83%;
    margin: 3px;
}

.tag0 {
    background-color: #33aa33;
}

.tag1 {
    background-color: #3333ff;
}

.tag2 {
    background-color: #aa33aa;
}

.tag3 {
    background-color: #ff6600;
}

table tr.greyed {
 color: #bbb;
 font-style: italic;
}

